section#resultsS ul {
    display: inline-block;
    list-style: none;
    margin-left: 40px;
    
}
li {
    display: inline-block
}

li.first {
    margin-left: 41%;
    margin-right: 300px;
}

li.second {
    
    margin-left: 24.5%;
}

li.third {
}   

h3 {
    text-align: center;
}

section:nth-of-type(2)>ul:nth-of-type(1) {
    margin-left: 22.8%;
}

section:nth-of-type(2)>ul:nth-last-child(-n+3) {
    margin-left: 24.45%;
}