body {
    font-size: 16px;
}

p {
    font-size: 3em;
    font-family: sans-serif;
    font-weight: 600;
    text-decoration:underline;
    
}

h1 {
    color: orange;
    font-size: 65px;
    font-family: sans-serif;
}


.font-family {
    font-family: 'Mukta', sans-serif;
    font-size: 18px;
    color: black;
    font-style: italic;
    text-align: center;

}

.backcolor {
    background-color: rgb(105, 105, 105, 0.2);
    padding: 1px 10px;
    
}

.corfundo{
    background-color: rgb(255, 228, 196);
    border-radius: 4px;
    padding: 5px 40px;     
} 

#verde {
    background-color: green;
    line-height: 60px;
    
}

#amarelo {
   background-color: yellow;
   line-height: 60px;
}

#vermelho {
    background-color: red;
    line-height: 60px;
}

#marrom {
    background-color:brown ;
    line-height: 60px;
    
}